# Folders
allElements-fix/**
old/**
todo.md
media/**
resources/swatches/generated/**

#Files
.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
modules/**
**/tsconfig.json
**/tslint.json
.gitignore
vsc-extension-quickstart.md

# Filetypes
**/*.map
**/*.ts