# Folders
allElements-fix/**
old/**
todo.md
media/**
# resources/swatches/generated/**

#Default
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

# Filetypes