# Folders
external
media
resources/master

# Files
CONTRIBUTING-template.md
CONTRIBUTING.md
CODING_GUIDELINES.md
todo.md
dc.bat

#Default
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

node_modules
out
webpack.config.js
.github